.center {
  display: flex;
  justify-content: center;
}
.box {
  width: 25%;
  height: auto;
  background-color: #e5e5ea;
  border: 10px solid #d4d4d8;
  margin: 6rem 10rem;
  border-radius: 10px;
}

.box .font {
  text-align: center;
}
#sign {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
}
#account {
  font-family: "Roboto", sans-serif;
}

.inp {
  margin: 2rem;
}
.inp .w3-input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box hr {
  width: 100%;
  margin: 1rem 0 auto;
  color: gray;
}
.social {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.social p {
  width: 32%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #dad9d9;
  /* padding: 10px; */
  background-color: white;
  cursor: pointer;
}

.inp button {
  width: 100%;
  height: 3rem;
  color: white;
  background-color: orange;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  font-size: large;
  border: none;
}
.inp button:hover {
  opacity: 0.6;
}
